<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gerenciar Itens do Cardápio da Fazenda">
    <title>Administração do Cardápio</title>
</head>
<body>
    <h1>Administração do Cardápio</h1>
    <ul>
        <li><a href="/admin/adicionar_form">Adicionar Novo Item</a></li>
        <li><a href="/admin/gerenciar">Gerenciar Itens</a></li>
        <li><a href="/">Voltar ao Cardápio</a></li>
    </ul>
</body>
</html>